footer {
  background-color: $footer_bg_color;
  height: $footer_height;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer a {
  float: right;
  width: 100px;
  height: 100%;
  padding-top: ($footer_height - 16px) / 2; //vertically center links
  text-align: center;
}