body {
  margin: 0;
}

main {
  padding-top: $nav_height;
  padding-bottom: $footer_height;
}

#site_title {
  width: 295px;
  margin: auto;
  padding-top: 50px;
}

#site_intro {
  width: 315px;
  position: absolute;
  top: 50%;
  right: 100px;
  margin-top: -73px; //size of box / 2
}