nav {
  background-color: $nav_bg_color;
  height: $nav_height;
  width: 100%;
  position: fixed;
  top: 0;
}

nav a {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  padding-top: ($nav_height - 16px) / 2; //vertically center links
}